.paginationContainer{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 130px;
}

.pagination__btn{
  width: 50px;
  height: 25px;
}

.pagination__btn_disabled, .pagination__btn_disabled:hover {
  pointer-events: none;
  outline: none;
  background-color: rgb(134, 130, 130);
  border: 1px solid  rgb(80, 79, 79);
}